
*.dll
*.zip
*.mdb
*.lock
*.ide
*.pdb
*.cache
*.txt
OnDemandFuelCells/.vs/
*.ide-wal
*.suo
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
